{% extends "sb/layout.html" %}

<!-- Content -->

{% block content %}

<body>

	<div class="container">
		<h1 class="border-bottom border-dark"> Sillybusses - Build v0.3 </h1>

		<div class="container">
			<h3 class="border-bottom border-dark"> Pages and Form Search (Next Sprint) </h3>
			<ul>
				<li> Make this todo page cleaner </li>
				<li> Pick a new grey for the background or design a container css </li>
				<li> Build Prototype Search Page </li>
				<li> Build Search Engine to search entries in sqllitedb, return <strike> phony download link</strike> actual download link for redirection</li>
				<li> Touch up the CSS on the Upload page </li>
			</ul>
			<h3 class="border-bottom border-dark"> Account Integration (In The Backlog) </h3>
			<ul>
				<li> Build Account Login page </li>
				<li> Require Login For Upload Page</li>
				<li> Build Registration Page </li>
			</ul>
		</div>


		<div class="container">
			<h3 class="border-bottom border-dark"> Completed </h3>
			<ul>
				<li> <strike> Build Home Page </strike> </li>
				<li> <strike> Research templating (again...) </strike></li>
				<li> <strike> Research Fileservers for file handling </strike>   ~ This will be Django /media/, FileSystemStorage, models.FileField </li>
				<li> <strike> Create Model for File Server </strike> </li>
				<li> <strike> Build Upload Form for Fileserver </strike> </li>
				<li> <strike> Test upload through https </strike> </li>
							<li> <strike> Build Prototype Upload Page for PDFs </strike>   ~ Jumped right into building it</li>
				
			</ul>
		</div>
	</div>
</body>

{% endblock %}