{% extends "sb/layout.html" %}

<!-- Content -->

{% block content %}

<body>

	<div class="container">
		<h1> Test </h1>
		<ul>
			<li> <strike> Build Home Page </strike> </li>
			<li> <strike> Research templating (again...) </strike> </li>
			<li> <Build> Prototype Search Page </li>
			<li> Build Prototype Upload Page for PDFs</li>
		</ul>

		<ul>
			<li> Research Fileservers for file handling </li>
			<li> Build Search Engine to search entries in sqllitedb, return phony download link for redirection</li>
			<li> or... return PDF document from directory? </li>
		</ul>

		<ul>
			<li> Build Account Login page </li>
			<li> Require Login For Upload Page</li>
			<li> Build Registration Page </li>
		</ul>



		<ul>
			<li> Install and Configure File Server </li>
			<li> Test upload through https/sftp </li>
			<li> Create Model for File Server </li>
			<li> Create View for File Server Page </li>
			<li> Build Upload Form for Fileserver </li>
		</ul>
	</div>
</body>

{% endblock %}